# Kinx highlight is currently not supported but...
*.kx          text linguist-language=Kinx
.spectest     text linguist-language=JSON linguist-detectable

# exclude files in directories below from github stats
src/bin/phantomjs/*.js      linguist-vendored
src/etc/chartjs/**/*.js     linguist-vendored
src/etc/katex/**/*.js       linguist-vendored
src/etc/katex/**/*.css      linguist-vendored
